:root {
  --primary-dark: hsl(220, 20%, 15%);
  --primary-dark-lighter: hsl(220, 20%, 20%);
  --primary-light: hsl(220, 20%, 95%);
  --primary-light-darker: hsl(220, 20%, 90%);

  --primary-hit: hsl(133, 100%, 50%);
  --primary-miss: hsl(0, 100%, 50%);
  --primary-sunk: hsl(220, 100%, 50%);
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-dark);
}

#gameboards {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 5vh);
  grid-template-rows: repeat(10, 5vh);
  border: solid 1px var(--primary-light);
}

.board-square {
  border: solid 1px var(--primary-light);
  display: flex;
}

.board-square:hover {
  background-color: var(--primary-dark-lighter);
}

.board-square.ship {
  background-color: var(--primary-light);
}

.board-square.ship.hit {
  background-color: var(--primary-hit);
}

.board-square.miss {
  background-color: var(--primary-miss);
}

.board-square.sunk {
  background-color: var(--primary-sunk);
}