:root {
  --primary-dark: hsl(220, 20%, 15%);
  --primary-dark-lighter: hsl(220, 20%, 20%);
  --primary-light: hsl(220, 20%, 95%);
  --primary-light-darker: hsl(220, 20%, 90%);

  --primary-sunk: hsl(133, 40%, 50%);
  --primary-hit: hsl(0, 30%, 50%);
  --primary-ship-overlap-invalid: hsl(0, 30%, 30%);

  --grid-size-desktop: clamp(30px, 9vh , 7vw);
  --board-header-fontsize-clamp: clamp(1.5rem, 3vw, 2rem);
}

@font-face {
  font-family: 'varela_roundregular';
  src: url('fonts/VarelaRound-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  cursor: default;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: varela_roundregular, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
  background-color: var(--primary-dark);
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 150px calc(100vh - 150px);
}

#header,
.result-container {
  font-weight: 900;
  font-family: 'Bebas Neue', cursive;
  color: var(--primary-light);
  text-shadow: 1px 1px 0 var(--primary-dark), 2px 2px 0px var(--primary-light);
  font-size: 6rem;
}

#header-container {
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  padding-top: 24px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#subheader {
  font-family: 'Bebas Neue', cursive;
  color: var(--primary-light);
  font-size: 2rem;
  font-weight: 300;
}

#playerBoardUIContainer {
  grid-column: 1 / 3;
}

.boardUIContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.result-container {
  grid-row: 1 / 3;

  font-size: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button.reset-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid var(--primary-light);
  font-size: 2rem;
  color: var(--primary-light);
  font-family: 'Bebas Neue', cursive;
  padding: 10px;
  border-radius: 15px;
}

button.reset-button:hover,
div[data-direction]:hover {
  cursor: pointer;
  background-color: var(--primary-dark-lighter);
}

#playerHeader {
  cursor: pointer;
}
.board-header {
  cursor: default;
  color: var(--primary-light);
  font-size: var(--board-header-fontsize-clamp);
  font-family: 'Bebas Neue', cursive;
  border: 2px solid var(--primary-light);
  border-radius: 0.4rem;
  padding: 0.6rem;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(7, var(--grid-size-desktop));
  grid-template-rows: repeat(7, var(--grid-size-desktop));
  border: solid 1px var(--primary-light);
}

.board-square {
  cursor: pointer;
  border: solid 1px var(--primary-light);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-dark);
}

#computerBoard .board-square:hover:not(.hit):not(.miss):not(.sunk):not(.game-over):not(.ship) {
  background-color: var(--primary-dark-lighter);
}

#playerBoard.board-square.ship {
  background-color: var(--primary-light);
}

#playerBoard .board-square.valid-hover {
  background-color: var(--primary-sunk)
}

#playerBoard .board-square.invalid-hover {
  background-color: var(--primary-hit)
}

#playerBoard .board-square.ship.invalid-hover {
  background-color: var(--primary-ship-overlap-invalid);
}

.board-square.ship {
  background-color: var(--primary-light);
}

.board-square.hit {
  background-color: var(--primary-hit);
}

.board-square.miss {
  background-color: var(--primary-miss);
  font-size: 3.5rem;
  color: white;
}

.board-square.sunk {
  background-color: var(--primary-sunk);
}
